APP_NAME="Brick Hill"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://example.gt.tc
ASSET_URL=
STORAGE_URL="${APP_URL}/brkcdn"
MAIN_SITE_DOMAIN=
ADMIN_SITE_DOMAIN=
ADMIN_PREFIX=admin
INSTALLER_KEY=change-this-long-random-key
LOCAL_STORAGE_PATH=

RENDER_URL=
RENDER_KEY=

LOG_CHANNEL=single
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=sqlXXX.infinityfree.com
DB_PORT=3306
DB_DATABASE=if0_00000000_name
DB_USERNAME=if0_00000000
DB_PASSWORD=your_mysql_password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
CACHE_PREFIX=bh_
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

NO_CAPTCHA_SITEKEY=
NO_CAPTCHA_SECRET=
